body {
	background-color: cadetblue !important;
}
.tree{
	margin-top: 150px;
	margin-left: 150px;
}
.branch {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 200px solid green;
	z-index: 1;
}
	.branch.top{
		transform: scale(0.5);
	}
	.branch.middle{
		transform: scale(0.75);
		margin-top: -120px;
	}
	.branch.bottom{
		margin-top: -120px;
		transform: scale(1);
	}
.root{
	width: 80px;
	height: 80px;
	background-color: saddlebrown;
	margin-left: 160px;
}
.decoration {
	cursor: pointer;
	border-radius: 100px;
	transform: scale(1);
	z-index: 2;
}
	.decoration:hover{
		opacity: .6;
	}
.decoration-form{
	margin-top: 250px;
}